.inputPrincipal
{
    height: 100%;
    width: 100%;
    text-align: center;
    font-weight: bold;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    color: #ff0000;
    margin-top:50px;
    background-color: aliceblue;
}